.DS_Store
.idea
nbproject
/var/*
!/var/labels
/vendor
/public/*
!/public/.htaccess

/.ddev/.dbimports/
/.ddev/db_snapshots/
/.ddev/import.yaml
/.idea/
/.vscode/
/vendor/
/public/typo3/
/public/typo3conf/ext/
/public/fileadmin/_processed_/
/public/fileadmin/_temp_/
/public/typo3temp/
/var/
/config/system/settings.php
.env
.env.local
*.log
